#recipeContent {
  padding: 1rem;
  max-height: 70%;
  overflow-y: auto;
  background-color: #fffaf4;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* Add padding at the bottom to prevent nav bar overlap */
  padding-bottom: 140px;
  /* Ensure the container takes up appropriate space */
  margin-bottom: 20px;
}

#recipeName {
  color: #8a640d;
  font-size: 38px;
}

#recipeTags {
  color: #7c8830;
  font-size: 25px;
  margin-bottom: 1rem;
}

#recipeDescription {
  font-size: 25px;
  margin-bottom: 1rem;
  color: #6a491b;
}

.full-description {
  background-color: #fdfaf5;
  padding: 0.75rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  color: #6a491b;
}

/* Create a button container to group the buttons */
.recipe-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
  margin-bottom: 120px; /* Add enough space to clear the nav bar */
}

.back-button {
  padding: 0.75rem 1.25rem;
  background-color: #dabd7f; 
  color: #6a491b; 
  font-size: 25px;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #cdb070;
}

.edit-button {
  padding: 0.75rem 1.25rem;
  background-color: #dabd7f; 
  color: #6a491b; 
  font-size: 25px;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #cdb070;
}

.delete-button {
  padding: 0.75rem 1.25rem;
  background-color: #dabd7f; 
  color: #6a491b;
  font-size: 25px;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #cdb070;
}

#ingredientsList {
  padding-left: 2rem;
}

#ingredientsList li {
  font-size: 25px;
  margin-bottom: 0.5rem;
  color: #6a491b;
}

h3 {
  color: #8a640d;
  font-size: 30px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}